.DS_Store
*.o
*~
*.swp
*.a
*.bak*
*.mod
*.f90
*.lst
*/*.lst
*/*/*.lst
mkl*
configure
aclocal.m4
autom4te.cache/
Makefile
aclocal.m4
src/config.h
src/config.h.in
configure
config.log
config.status
Makefile.in
bin/
bin/genesis
bin.*/
config.log
config.status
Makefile
Makefile.in
src/config.h
src/stamp-h1
src/lib/.deps/
src/lib/*/.deps/
src/lib/*/.dirstamp
!src/lib/lapack-3.10.0/INSTALL/Makefile
!src/lib/lapack-3.10.0/CBLAS/Makefile
!src/lib/lapack-3.10.0/CBLAS/src/Makefile
!src/lib/lapack-3.10.0/CBLAS/testing/Makefile
!src/lib/lapack-3.10.0/CBLAS/examples/Makefile
!src/lib/lapack-3.10.0/SRC/Makefile
!src/lib/lapack-3.10.0/SRC/VARIANTS/Makefile
!src/lib/lapack-3.10.0/TESTING/Makefile
!src/lib/lapack-3.10.0/TESTING/EIG/Makefile
!src/lib/lapack-3.10.0/TESTING/MATGEN/Makefile
!src/lib/lapack-3.10.0/TESTING/LIN/Makefile
!src/lib/lapack-3.10.0/LAPACKE/Makefile
!src/lib/lapack-3.10.0/LAPACKE/src/Makefile
!src/lib/lapack-3.10.0/LAPACKE/utils/Makefile
!src/lib/lapack-3.10.0/LAPACKE/example/Makefile
!src/lib/lapack-3.10.0/BLAS/Makefile
!src/lib/lapack-3.10.0/BLAS/Makefile.original
!src/lib/lapack-3.10.0/BLAS/SRC/Makefile
!src/lib/lapack-3.10.0/BLAS/TESTING/Makefile
!src/lib/lapack-*/*/*.f90
!src/lib/lapack*/*/*/*.f90
!src/lib/scalapack-2.1.0/Makefile.original
!src/lib/scalapack-2.1.0/BLACS/Makefile
!src/lib/scalapack-2.1.0/BLACS/Makefile.original
!src/lib/scalapack-2.1.0/BLACS/SRC/Makefile
!src/lib/scalapack-2.1.0/BLACS/TESTING/Makefile
!src/lib/scalapack-2.1.0/TOOLS/Makefile
!src/lib/scalapack-2.1.0/TOOLS/LAPACK/Makefile
!src/lib/scalapack-2.1.0/PBLAS/SRC/Makefile
!src/lib/scalapack-2.1.0/PBLAS/SRC/PTZBLAS/Makefile
!src/lib/scalapack-2.1.0/PBLAS/SRC/PTOOLS/Makefile
!src/lib/scalapack-2.1.0/PBLAS/SRC/PBBLAS/Makefile
!src/lib/scalapack-2.1.0/PBLAS/TIMING/Makefile
!src/lib/scalapack-2.1.0/PBLAS/TESTING/Makefile
!src/lib/scalapack-2.1.0/SRC/Makefile
!src/lib/scalapack-2.1.0/TESTING/EIG/Makefile
!src/lib/scalapack-2.1.0/TESTING/LIN/Makefile
!src/lib/scalapack-2.1.0/REDIST/SRC/Makefile
!src/lib/scalapack-2.1.0/REDIST/TESTING/Makefile
!src/lib/scalapack-2.1.0/EXAMPLE/Makefile
src/spdyn/.deps/
src/genesis*.tar.gz
src/atdyn/atdyn
src/spdyn/prst_setup
src/spdyn/spdyn
src/spdyn/.deps
src/analysis/clustering/kmeans_clustering/kmeans_clustering
src/analysis/converter/crd_convert/crd_convert
src/analysis/converter/pcrd_convert/pcrd_convert
src/analysis/converter/remd_convert/remd_convert
src/analysis/converter/cg_convert/cg_convert
src/analysis/converter/rst_convert/rst_convert
src/analysis/converter/rst_upgrade/rst_upgrade
src/analysis/converter/rst_upgrade/sp_boundary_str.fpp
src/analysis/converter/rst_upgrade/sp_constraints_str.fpp
src/analysis/converter/rst_upgrade/sp_domain_str.fpp
src/analysis/converter/rst_upgrade/sp_dynamics_str.fpp
src/analysis/converter/rst_upgrade/sp_dynvars_str.fpp
src/analysis/converter/rst_upgrade/sp_enefunc_str.fpp
src/analysis/converter/rst_upgrade/sp_energy_str.fpp
src/analysis/converter/rst_upgrade/sp_ensemble_str.fpp
src/analysis/converter/rst_upgrade/sp_pairlist_str.fpp
src/analysis/converter/rst_upgrade/sp_restraints_str.fpp
src/analysis/converter/rst_upgrade/sp_remd_str.fpp
src/analysis/converter/rst_upgrade/sp_parallel_io.fpp
src/analysis/free_energy/mbar_analysis/mbar_analysis
src/analysis/free_energy/meanforce_analysis/meanforce_analysis
src/analysis/free_energy/pmf_analysis/pmf_analysis
src/analysis/free_energy/wham_analysis/wham_analysis
src/analysis/interface/dssp_interface/dssp_interface
src/analysis/mode_analysis/avecrd_analysis/avecrd_analysis
src/analysis/mode_analysis/eigmat_analysis/eigmat_analysis
src/analysis/mode_analysis/flccrd_analysis/flccrd_analysis
src/analysis/mode_analysis/pcavec_drawer/pcavec_drawer
src/analysis/mode_analysis/prjcrd_analysis/prjcrd_analysis
src/analysis/sp_analysis/contact_analysis/contact_analysis
src/analysis/sp_analysis/density_analysis/density_analysis
src/analysis/sp_analysis/hbond_analysis/hbond_analysis
src/analysis/sp_analysis/rdf_analysis/rdf_analysis
src/analysis/sp_analysis/sasa_analysis/sasa_analysis
src/analysis/trj_analysis/comcrd_analysis/comcrd_analysis
src/analysis/trj_analysis/diffusion_analysis/diffusion_analysis
src/analysis/trj_analysis/distmat_analysis/distmat_analysis
src/analysis/trj_analysis/drms_analysis/drms_analysis
src/analysis/trj_analysis/energy_analysis/energy_analysis
src/analysis/trj_analysis/fret_analysis/fret_analysis
src/analysis/trj_analysis/hb_analysis/hb_analysis
src/analysis/trj_analysis/lipidthick_analysis/lipidthick_analysis
src/analysis/trj_analysis/msd_analysis/msd_analysis
src/analysis/trj_analysis/qval_analysis/qval_analysis
src/analysis/trj_analysis/qval_residcg_analysis/qval_residcg_analysis
src/analysis/trj_analysis/rg_analysis/rg_analysis
src/analysis/trj_analysis/rmsd_analysis/rmsd_analysis
src/analysis/trj_analysis/tilt_analysis/tilt_analysis
src/analysis/trj_analysis/trj_analysis/trj_analysis
src/analysis/utilities/emmap_generator/emmap_generator
src/analysis/utilities/pathcv_analysis/pathcv_analysis
src/analysis/utilities/qmmm_generator/qmmm_generator
src/analysis/utilities/rpath_generator/rpath_generator
analysis/trj_analysis/ring_analysis/ring_analysis
analysis/utilities/molecule_setup/molecule_setup
analysis/utilities/morph_generator/morph_generator
analysis/utilities/table_generator/table_generator
cgdyn/cgdyn
analysis/utilities/css_builder/spheres_generator/spheres_generator
src/analysis/trj_analysis/ring_analysis/ring_analysis
src/analysis/utilities/css_builder/add_ions/add_ions
src/analysis/utilities/css_builder/add_metabolites/add_metabolites
src/analysis/utilities/css_builder/ca_fitting/ca_fitting
src/analysis/utilities/css_builder/collision_canceller/collision_canceller
src/analysis/utilities/css_builder/solvate/solvate
src/analysis/utilities/css_builder/spheres_generator/spheres_generator
src/analysis/utilities/molecule_setup/molecule_setup
src/analysis/utilities/morph_generator/morph_generator
src/analysis/utilities/table_generator/table_generator
src/cgdyn/cgdyn

configure
aclocal.m4
