.DS_Store
*~
*.swp
*.bak*
*.old
*.pyc
regression_test/test_analysis/test_molecule_setup/3eza_soft/grocrd
regression_test/test_analysis/test_molecule_setup/3eza_soft/grotop
regression_test/test_analysis/test_molecule_setup/3eza_soft/pdb
regression_test/test_analysis/test_molecule_setup/AADoME_macro/grotop
regression_test/test_analysis/test_molecule_setup/AAGO/grotop
regression_test/test_analysis/test_molecule_setup/SH2_CAGO/grotop
regression_test/test_vib/br/qmmm.*/*.inp
regression_test/test_atdyn/br/*/qmmm.*/*.inp
regression_test/test_gamd_atdyn/amber/*/test
regression_test/test_gamd_atdyn/charmm/*/test
regression_test/test_gamd_spdyn/amber/*/test
regression_test/test_gamd_spdyn/charmm/*/test
regression_test/test_analysis/test_add_ions/BPTI/*.pdb
regression_test/test_analysis/test_add_metabolites/BPTI/*.pdb
regression_test/test_analysis/test_ca_fitting/BPTI/aa.cor
regression_test/test_analysis/test_collision_canceller/BPTI/aa.exc
