test_analysis/test_*/*/err
test_analysis/test_*/*/out
test_analysis/test_*/*/log

test_analysis/test_*/*/*/err
test_analysis/test_*/*/*/out
test_analysis/test_*/*/*/log

test_analysis/test_remd_convert/APP/*.log
test_analysis/test_remd_convert/APP/*.dcd
test_analysis/test_kmeans_clustering/BPTI/output*
test_analysis/test_flccrd_analysis/BPTI/output*
test_analysis/test_eigmat_analysis/APP/output*
test_analysis/test_rpath_generator/AdK/*.rst
test_analysis/test_rpath_generator/AdK/*.pdb
test_analysis/test_pathcv_analysis/path/*.pathcv

test_common/*/*/error
test_common/*/*/test

test_atdyn/*/*/error
test_atdyn/*/*/test
test_atdyn/br/*/qmmm_mini.0/*.inp

test_spdyn/*/*/error
test_spdyn/*/*/test

test_remd_*/*/error
test_remd_*/*/log
test_remd_*/*/test?

test_rpath_atdyn/*/error
test_rpath_atdyn/*/log
test_rpath_atdyn/*/test?

test_rpath_spdyn/*/error
test_rpath_spdyn/*/log
test_rpath_spdyn/*/test?

test_vib/*/error
test_vib/*/log
test_vib/*/vib.minfo
test_vib/*/test?
test_vib/*/minfo.files

test_gadm_atdyn/*/*/test
test_gamd_atdyn/*/*/error
test_gamd_atdyn/*/*/out.gamd

test_gadm_spdyn/*/*/test
test_gamd_spdyn/*/*/error
test_gamd_spdyn/*/*/out.gamd

test_bd/*/*/test
test_bd/*/*/error
